<html>
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
* {
	box-sizing: border-box
}

body {
	font-family: "Lucida Console", Monaco, monospace;
}
</style>

</head>
<body>
<div class="jumbotron jumbotron-fluid" style="background-color:#F9B222">
  <div class="container">
    <h1 class="display-4; text-white">Articles</h1>
    <p class="lead; text-white">Read the latest news from the Computer Science world!</p>
    <p class="lead">
    <a class="btn btn-dark btn-sm" href="./login" role="button">Write an article</a></p>
  </div>
</div>

<div class="row" style="padding: 20">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Slight increase in top-performing computer science students at Higher level as exam results released – but with some major caveats</h5>
        <p class="card-text">The number of top-performing students who achieved an A grade in their computing science Highers showed a 2.7% rise, according to national exam results released in Scotland today, which also showed a worrying 21% reduction in pupils taking the subject.</p>
        <a href="https://futurescot.com/slight-increase-in-top-performing-computer-science-students-at-higher-level-as-exam-results-released/" class="btn btn-primary" style="background-color:#F9B222">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SQA results 2019: Higher computing entries fall by 21%</h5>
        <p class="card-text">Setting aside computing, the sciences fared better in terms of changes in uptake than the social subjects.</p>
        <a href="https://www.tes.com/news/sqa-results-2019-higher-computing-entries-fall-21" class="btn btn-primary" style="background-color:#F9B222">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">'There is a complete disconnect between this exciting sector and school education': Q&A with Toni Scullion, Founder @ dressCode</h5>
        <p class="card-text">Toni Scullion speaks to us about her role in the technology sector and shares her thoughts on Edinburgh's Women in Tech Scotland, taking place 3rd September 2019</p>
        <a href="https://www.womenintechscotland.com/blog/speaker-spotlight-toni-scullion" class="btn btn-primary" style="background-color:#F9B222">Read more</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>