<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
		function checkCheckedBox(Inter_res) {
			if (checkBox.checked == true){
			var xhttp = new XMLHttpRequest();
			xhttp.open("POST", "/quizComp" , true);
			xhttp.send(Inter_res);
		  	var checkBox = document.getElementById("myCheck");	
			 }else {
		    		text.style.display = "Please Enter a Value";
		  }
		}
	</script>
	<script>
		function ButtonClicked(){
			var xhttp = new XMLHttpRequest();
			xhttp.open("POST", "/quiz", true);
			xhttp.send();
		}
	</script>
</head>

<body style = "background-color :#eaeaea ; border-style : solid ; border-width : 5px  ; border-left : 5px ; border-right : 5px ; border-color = #74529e">
<div class = "container" style = "float : center">
<form action="/quizComp" method="post" class ="form-container" >
<h3>"Let's Start the Quiz, Shall we ?"</h3><p th:text="${Question}" /> 
<label class="container">
  <input type="checkbox" id="myCheck" onclick = "CheckCheckedBox("${Answer1}")" >
  <p th:text="${Answers1}" /> 
  <span class="checkmark"></span>
</label>

<label class="container">
<input type="checkbox" id="myCheck" onclick = "CheckCheckedBox("${Answer2}")" > <p th:text="${Answers2}" /> 
  <span class="checkmark"></span>
</label>

<label class="container">
<input type="checkbox" id="myCheck" onclick = "CheckCheckedBox("${Answer3}")">
<p th:text="${Answers3}" /> 
  <span class="checkmark"></span>
</label>
<button type="submit">Submit</button>
</form>
<button onclick = "ButtonClicked()">Next Question</button>
</div>
</body>
</html>