.navbar {
    background-color:#74529E;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20%
}

.navbar a {
    float: left;
    display: block;
    width: 20px;
    padding: 14px 16px;
}

.row {
    top: 50%;
    position: fixed;
    width: 100%;
}

