<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="jumbotron jumbotron-fluid" style="background-color:#F9B222">
    <div class="container">
        <h1 class="display-4; text-white">Tips</h1>
        <p class="lead text-white">Tips Computer Science world!</p>
        <p class="lead">
            <a class="btn btn-dark btn-sm" href="./textEditor" role="button">Add a tip!</a></p>
    </div>
</div>

<div class="row" style="padding: 20">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-money"></i> Money</h5>
                <p class="card-text">Computer Science degree in the UK earn five times more than those with arts degrees.<br>Computer Science graduates earn more than expected at first job.</p>
                <a href="https://www.forbes.com/sites/robertfarrington/2019/10/01/here-are-five-of-the-highest-paying-college-majors-available-today/#2ad1931c5092" class="btn btn-primary" style="background-color:#ED6B4B">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create cool games</h5>
                <p class="card-text">Programming video games is a common fun starting point for many young coders.<br>Angry Birds, Minecraft, Flappy Bird...</p>
                <a href="http://inventwithpython.com/blog/2012/02/20/i-need-practice-programming-49-ideas-for-game-clones-to-code/" class="btn btn-primary" style="background-color:#74529E">Cool Python games</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Best coding languages for kids</h5>
                <p class="card-text">Scratch and other visual programming languages.<br>Lua and Python are good for older kids.</p>
                <a href="https://scratch.mit.edu" class="btn btn-primary" style="background-color:#F9B222">Explore Scratch!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Skip the computer science specifics</h5>
                <p class="card-text">When starting, covering a wide range of topics is better than going deep into technical details. Let your kids find their own passion. Once your child samples what the programming world has to offer, they'll be excited to explore the parts they like.</p>
                <a href="https://childhood101.com/coding-for-kids/" class="btn btn-primary" style="background-color:#A7358C">Some puzzles</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Let your children get some hands-on practice</h5>
                <p class="card-text">Give each student their own computer.<br>Let them experiment with Robots, Puzzles, Lego Creative Toolbox, Code and Go Mouse, Arduino... all of which you can buy online easily.</p>
                <a href="https://www.amazon.co.uk/s?k=coding+toys+for+kids&crid=2TBKO31E3NPK4&sprefix=coding+toys%2Caps%2C151&ref=nb_sb_ss_i_1_11" class="btn btn-primary" style="background-color:#ED6B4B">Buy some toys</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Send your kid to a Coding Summer Camp</h5>
                <p class="card-text">Benefits of sending your child to a coding camp:
                    <br><i class="fa fa-chevron-circle-right"></i>Provides an opportunity for children to learn how to be independent.
                    <br><i class="fa fa-chevron-circle-right"></i>Helps to build a unique interest.
                    <br><i class="fa fa-chevron-circle-right"></i>Learning those skills will help to develop their ability to solve problems.
                    <br>And many more benefits you can find online!</p>
                <a href="https://www.kidscodecs.com/resources/technology-summer-camps-kids/" class="btn btn-primary" style="background-color:#74529E">Summer Camps for Kids</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>